.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 10px 140px;
    margin-top: 3rem;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #c67d7d 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}
.offers-left {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    font-weight: 600;
    font-size: 80px;
    color: #171717;
}

.offers-left p {
    font-weight: 500;
    font-size: 22px;
    color: #171717;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 15px;
    margin-top: 3.5rem;
}